@font-face {
    font-family: Alex;
    src: url(../fonts/Alex.ttf);
}

body {font-family: Alex; position: relative;overflow-x: hidden;}
html{scroll-behavior: smooth;}

/* start of global */
ul{list-style: none;padding-inline-start: 0;}
/* end of global */

header .msg {
    width: 95%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    list-style: none;
}

header .msg.success {
    color: #3a6e3a;
    border: none;
    background: #bcf5bc;
}

header .msg.error {
    color: #884b4b;
    border: none;
    background: #f5bcbc;
}

/* start of scrollbar */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {border-radius: 10px;}
::-webkit-scrollbar-thumb { background: #213b52; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; }
/* end of scrollbar style */

/* start of navbar */
header{background: #213b52; height: 75vh; background-image: url(../img/header_heart.jpg);background-size: cover; background-repeat: no-repeat;}
.navbar{background: #fff; top: 20px;}
@media(max-width: 991px)
{
    .navbar{z-index: 999999;}
    .navbar-nav .dropdown-menu {
        position: static;
        margin: 13px;
        float: none;
    }
}
.navbar.act{top: 0;}
.navbar-brand, .navbar-brand:hover{font-size: 30px;color: #08526d;position: relative;}
.navbar-brand img{width: 70px;}
@media(max-width: 284px)
{
    .navbar-brand img{display: none;}
}
.navbar-brand span, .navbar-brand span:hover{color: #fdc134;}

.navbar-nav .nav-link {color: #fdc134; margin: 0 0px;}
.navbar-nav .nav-link{font-size: 16px; text-transform: uppercase;}
.navbar-nav .nav-link:hover{color: #08526d;font-weight: bold;}
.navbar-nav .nav-link.active{color: #08526d;border-bottom: 2px solid #08526d; font-weight: bold;}
.dropdown, .login_link{border: 2px solid #08526d; border-radius: 50px; padding: 0 10px; margin-left: 50px}
.dropdown:active{border: none;}
.dropdown-menu{border: none;}
.dropdown-menu a.dropdown-item{color: #08526d;}


@media (max-width: 992px){
    .navbar-nav .nav-link,
    .navbar-nav .nav-link.active{border-bottom: none; margin: 0;}
    .navbar-nav .nav-link:hover{border-bottom: none;}
    .dropdown, .login_link{padding: 0; margin-left: 0; text-align: center;}
}

.navbar-toggler:focus, .navbar-toggler:hover{outline: none;}
.navbar .navbar-toggler i{font-size: 30px; color: #08526d;}
.hero{margin: 60px 0 0 0;padding: 7px; background: rgba(0, 0, 0, .5);color: #fff;}
.hero-search{margin: 50px 0 0 0;}
.hero-search .hero-search-dark{background: rgba(0, 0, 0, .5);color: #fff; padding: 10px;}
/* end of navbar */

/* start of who are we section */
.who-are-we{padding: 10px 10px 10px; background: #ddd;}
.who-are-we .content{margin-top: -35px;}
.who-are-we .content .card.one{background: #08526d; color: #fff;}
.who-are-we .content .card .card-title{color: #fdc134;}
.who-are-we .content .card.one .card-link{position: relative; color: #fff; padding: 10px; border: none; background: rgba(255, 255, 255, 0.2); border-radius: 50px ; -webkit-border-radius: 50px ; -moz-border-radius: 50px ; -ms-border-radius: 50px ; -o-border-radius: 50px ;}
.who-are-we .content .card.one .card-link:hover{ color: #fdc134; background: #fff; padding-left: 5px; transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; }
.who-are-we .content .card.two{background: #fff; color: #08526d;}
@media(max-width: 575px){
    .who-are-we .content .card.one{margin-bottom: 3rem;}
}
/* end of who are we section */

/* start of activities section */
.activities{background: #fff; padding: 20px; margin-top: 35px;}
.activities .event-cont{border: 2px solid #213b52; padding: 15px;}
.activities .event-cont .heading{
    padding: 7px 0;
    margin: 100px 0 0 -25px;
    background:white;
}
.activities .event-cont .heading h5{color: #08526d;}
.activities .event-cont .card{margin-top: -45px;}
.activities .event-cont .card .test{position: relative;}
.activities .event-cont .card img{height: 184.66px;}
.activities .event-cont .card .card-body .event-time{margin-bottom: .3rem;}
.activities .event-cont .card .test p{
    margin: 0;
    position: absolute;
    top: -7%;
    right: 5%;
    border: none;
    background: #08526d;
    padding: 10px;
    width: 80px;
    color: #fff;
}
@media(max-width: 767px){
    .activities .event-cont .heading{
        margin: 50px 0 45px -25px;
    }
    .activities .event-cont .one{margin-bottom: 75px;}
}
/* end of activities section */

/* start of our team section */
.our-team{background: #08526d; padding: 40px 0;}
.our-team h2{color: #fdc134;}
.our-team .heading-p{color: #fff;}
.our-team .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.our-team .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  
}
.our-team .swiper-container .swiper-slide .card .card-img-top{height: 200px;}
.our-team .swiper-container .swiper-slide .card .card-body .card-title{color: #08526d;margin-bottom: .5rem;}
.our-team .swiper-container .swiper-slide .card .card-body .card-text{color: #213b52;}
/* end of our team section */

/* start of contact us section */
.contact-us{background:#fff; padding: 40px 0;}
.contact-us h2{color: #08526d;}
.contact-us .info-box {
    color: #213b52;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px;
}
@media (max-width: 991px){
    .contact-us .info-box {
        margin-bottom: 20px;
    }
}
.contact-us .info-box h3 {
    font-size: 20px;
    color: #08526d;
    font-weight: 700;
    margin: 10px 0 10px 68px;
}
.contact-us .info-box i {
    font-size: 32px;
    color: #08526d;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #0e6381;
    float: left;
}
.contact-us .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
}

.contact-us form button[type="submit"] {
    background: #08526d;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}
.contact-us form button[type="submit"]:hover{background: #213b52;}
/* end of contact us section */

.footer {
    padding: 30px 0 10px;
    background: #08526d;
}
.footer .footer-links .copyright{color: #fff;}
.footer .footer-links .copyright span{color: #fdc134;}
.footer .footer-links .social-links i{color: #fdc134; font-size: 25px;}
@media(max-width: 575px){
    .footer .footer-links .copyright{margin-bottom: 20px; text-align: center;}
    .footer .footer-links .social-links{text-align: center;}
}

/* end of footer */

.post-wrapper{padding: 30px 0;background: #08526d;border-bottom: 1px solid #fff;}
.post-wrapper h2{color: #fdc134;}
.post-wrapper .col-border{border-right: 1px solid #fff;}
@media(max-width: 991px){
    .post-wrapper .col-border{border-right: none;margin-bottom: 15px;}
}
.post-wrapper .card .card-body .card-title a{color: #fdc134;}

.post-wrapper .card-text{color: #08526d;}
.post-wrapper hr{border: 1px solid #fff;}
.post-wrapper .page-item .page-link{color: #08526d;}

.read-wrapper{background: #08526d;padding: 30px 10px; border-bottom: 1px solid #fff;}
.read-wrapper h2{color: #fdc134;margin: 30px 0 0;}
/* ****************** */

.slider{height: 500px;}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}
.carousel-indicators li{height: 8px;}
.slider .carousel-item{
    height: 500px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.slider .carousel-one{background-image: url("../img/5.jpg");}
.slider .carousel-two{background-image: url("../img/6.jpg");}
@media(max-width: 546px)
{
    .slider .carousel-one{background-image: url("../img/4.jpg");}
    .slider .carousel-two{background-image: url("../img/3.jpg");}   
}


.med-wrapper{background: #fff;padding: 30px 10px; border-bottom: 1px solid #08526d;}
.med-wrapper h2{margin: 20px 0 35px; color: #08526d;}
.med-wrapper .domain{padding: 15px; text-align: center; border-radius: 10px; margin-bottom: 20px;}
.med-wrapper .domain:nth-child(1){border-top: 2px solid #fdc134;}
.med-wrapper .domain:nth-child(2){border-bottom: 2px solid #fdc134;}
.med-wrapper .domain:nth-child(3){border-top: 2px solid #fdc134;}
.med-wrapper .domain i {color: #fdc134; margin-bottom: 15px;}
.med-wrapper .domain h3 a{color: #08526d;}
.med-wrapper .modal .modal-header{padding: .3rem 1rem;}

.med-wrapper .modal .modal-header .close{outline: none; color: #08526d; opacity: unset;}
.med-wrapper .modal .modal-btn{background: #08526d; color: #fff;}
.med-wrapper .modal .modal-btn:hover{ background: #fdc134; color: #fff; transition: .5s; -webkit-transition: .5s; -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; }
.med-wrapper .modal .modal-body form .form-control, .med-wrapper .modal .modal-body form .form-group label{color: #08526d;}
.med-wrapper .modal .bootstrap-select .dropdown-toggle:focus{outline: none !important;}
.med-wrapper .modal .bootstrap-select .dropdown-menu{background: #08526d; padding: 0;}
.med-wrapper .modal .bootstrap-select .dropdown-menu li a span.text{color: #fff;}
.med-wrapper .modal .bootstrap-select .dropdown-toggle .filter-option-inner-inner {color: #08526d}
.med-wrapper .modal .dropdown-item.active{background: #fdc134;}
.med-wrapper .modal .dropdown-item:hover{background: #213b52;}

.med-wrapper .modal .two.modal-body{background: #08526d;}
.med-wrapper .modal .two.modal-body .card{margin-top: 60px;background: #fff;}
.med-wrapper .modal .two.modal-body .card img{width: 100px; height: 100px;margin: -50px auto 0; border-radius: 50%; border: 2px dashed #fff;}
.med-wrapper .modal .two.modal-body .card .card-body{padding: 0;}
.med-wrapper .modal .two.modal-body .card .card-body p a{color: #08526d; font-size: 20px;}
.med-wrapper .modal .two.modal-body .card .card-body p a:hover{ color: #fdc134; transition: .2s; -webkit-transition: .2s; -moz-transition: .2s; -ms-transition: .2s; -o-transition: .2s; }

#stateTitle{color: #08526d;}
@media(max-width: 768px)
{
    .med-wrapper .domain:nth-child(2){border-bottom: none; border-top: 2px solid #fdc134;}
}
.empty_f{color: #fdc134;}
.read-wrapper .all_dm_form form{border: 1px solid #fff; padding: 10px;}
.read-wrapper .all_dm_form form label{color: #fff;}
.read-wrapper .all_dm_form form .all_dm_form_btn{background: #fdc134; color: #fff;}

.read-wrapper .card.all .img_card{display: flex; align-items: center; justify-content: center;height: 126px;}
.read-wrapper .card.all .img_card::before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;clip-path: polygon(0 23%, 0 100%, 100% 100%, 100% 45%);background: #fdc134;
}
.read-wrapper .card.all .img_card img{width: 110px; height: 110px; border-radius: 50%; z-index: 9999;}
.read-wrapper .card.all .card-body{z-index: 99999;padding-left: 0;}
.read-wrapper .card.all .card-body .card-title{color: #fff;text-decoration: underline;}
.read-wrapper .card.all .card-body .card-text{color: #08526d;font-size: 18px;}
.read-wrapper .card.all .card-body .card-text span{padding: 5px 7px 5px 20px;background: #08526d;color: #fff;border-top-right-radius: 10%;border-bottom-right-radius: 10%;}
.read-wrapper .card.all .card-body .card-text a{color: #08526d;}
.read-wrapper .card.all .card-body .usr_contact_dr{color: #08526d; border: 2px solid #fff;}
.read-wrapper .card.all .card-body .usr_contact_dr .btn{background: #08526d;color: #fff;}
.med-wrapper .msg, .read-wrapper .msg {
    width: 95%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    list-style: none;
}

.med-wrapper .msg.success, .read-wrapper .msg.success{
    color: #3a6e3a;
    border: none;
    background: #bcf5bc;
}

.med-wrapper .msg.error, .read-wrapper .msg.error{
    color: #884b4b;
    border: none;
    background: #f5bcbc;
}

/* ********************************** */
.read-wrapper .content{background: #fff;}
.read-wrapper .content .author {
    color: #08526d;
    padding: 20px 20px 20px 0;
}
@media (max-width: 991px){
    .read-wrapper .content .author {
        margin-bottom: 20px;
    }
}
.read-wrapper .content .author h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #08526d;
    font-weight: 700;
}
.read-wrapper .content .author img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 20px 0 0;
}
.read-wrapper .content .author p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
}